*{
   margin: 0;
   padding: 0; 
}
body{
    font-family: "Inter", sans-serif;
}
section{
    padding: 80px 8%;

}
nav{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 18px 8%;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #575757;
}
.blue-btn{
    background-color: #1d4ed8;
    padding: 12px 25px;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
header{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.3)),  url(./assets/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
.header-content{
    color: white;
    text-align: center;
    display: grid;
    gap: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: x-large;
    margin: 30% auto;
}
.header-content button{
    margin-left: 37%;
    width: 30%;
    margin-top: 15%;
}
.speaker{
    text-align: center;
    margin-bottom: 3%;
    font-size: larger;
}
.speaker-card-container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    background-color: white;

}
.speaker-card-container .speaker-card{
    background-color: white;
    text-align: left;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    display: grid;
    gap: 10px;
}
.blue-font-color{
    color: #2563EB;
}
.spot{
    text-align: center;
    margin-bottom: 3%;
    display: grid;
    gap: 10px;
}
.spot p{
    color: #575757;
    font-size: small;
}
.ash-font-color{
    color: #575757;
}
.spot-section{
    padding: 80px 15%;
}
.spot-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-content: space-around;

}
.spot-card-container .spot-card{
    background-color: white;
    text-align: left;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
    padding-left: 8%;
}
 .spot-card-container .spot-card button{
    margin-top: 15%;
    margin: 5%;
    padding: 8px 8%;
}

section div div div div{
    display: grid;
    gap: 10px;
    margin-bottom: 6%;
}
section div div div .card-list ul{
    display: grid;
    gap: 10px;
    padding-left: 8%;
}


